.link_container {
    display: flex;
    padding: 0;
    margin: 0;
    max-width: 300px;
    overflow-x: scroll;
    position: relative;
}

.link_container > div {
    margin: 20px 20px 20px 5px;
    padding: 10px;
    border: 1px solid var(--cinza-claro);
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 250px;
    position: relative;
    background: white; 
}

.thumbnail {
    width: 127px;
    height: 125px;
    border-radius: 20px;
}

.link_container .info {
    padding: 0px 10px;
    font-size: 14px;
    color: var(--azul-destaque);
    font-weight: 500;
    width: 50%;
    margin: 0 10px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.link_container .info .title {
    font-size: 14px;
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;
    word-wrap: nowrap;
    overflow: hidden;
} 

.link_container .info .description {
    font-size: 10px;
} 