#sidebar {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

#sidebar.show {
    right: 0;
    transition-property: right; 
    transition-duration: 1s;
    transition-delay: 0s;
}


#sidebar header { 
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#sidebar header > button {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 0;
}


#sidebar svg {
    height: 30px;
    width: 30px;
}

#sidebar svg > path {
    stroke: var(--primary);
}

#spaces #sidebar h4 { 
    color: var(--primary);
    font-size: 16px;
}

.spaces-list {
    width: calc(300px - 10px);
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.spaces-list > .space-item {
    min-width: 140px;
    max-width: 140px;
}


.spaces-list > .space-item.active {
    background-color: rgba(255,255,255,0.1);
}


.spaces-list > .space-item > div {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 95px;
    margin: 0;
}

.spaces-list > .space-item >  p {
    text-align: center;
    color: var(--primary);
    font-size: 14px;
    font-weight: 500;
}
/* 
.spaces-list > .space-item > div::before {
    content: ' ';
    position: absolute;
    top: -5px;
    width: 90%;
    height: 5px;
    left: 5%;
    right: 5%;
    border-radius: 10px 10px 0 0;
}

.spaces-list > .space-item > div::after {
    content: ' ';
    position: absolute;
    top: -10px;
    width: 80%;
    height: 5px;
    left: 10%;
    right: 10%;
    border-radius: 10px 10px 0 0;
    background-color: var(--cinza);
} */


#sidebar .modal {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: height 0.5s;
}

#sidebar .modal.open {
    height: 250px;
    transition: height 0.5s;
}

#sidebar > .modal h4 {
    text-align: center;
    padding: 20px;
    color: var(--primary) !important;
    font-size: 20px !important;
    margin: 0;
}
