.Nindoo-Widget {
  text-align: center;
  width: 300px;
  height: 0;
  position: absolute; 
  background: white;
  border-radius: 10px;
  bottom: 60px;
  right: 60px;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

.Nindoo-Widget.active {
  box-shadow: -2px 2px 5px 5px #ddd;
  height: 450px;
}

.Nindoo-floater {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  border: none;
  background-color: white;
  color: var(--azul);
  box-shadow: -2px 2px 5px 5px #ddd;
  transition: all 0.5s ease-in-out;
}

.Nindoo-floater.active {
  background-color: var(--azul);
  color: white;
}


body {
  font-family: 'Inter', sans-serif !important;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
}

#header {
  min-height: 50px;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--cinza-escuro);
  text-align: left;
  padding: 0 10px;
}

article {
  height: calc(100% - 127px);
  width: 100%;
  margin: 0;
}

#content {
  width: calc(100vw - 137px);
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

:root {
  --rosa: #CE00DF; 
  --cinza-claro: #EAEAF6; 
  --cinza: #9A9ABB; 
  --cinza-escuro: #56557C;
  --azul: #1e045d;
  --azul-destaque: #160c9e;
}


h3 {
  font-size: 34px;
  font-style: normal;
  line-height: 40px;
  font-weight: normal;
  letter-spacing: -0.01em;
  color: var(--azul);
}

h4 {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: var(--azul);
}

h5 {
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.02em; 
  color: var(--azul-destaque);
}


.flex {
  width: 100%;
  display: flex;
}

.input-container p {
  margin: 0; 
  padding: 0;
  color: var(--azul);
  font-size: 12px;
  margin-bottom: 20px;
}

.input-container {
  height: 100px;
  width: 50%;
}

input[type='text'], 
input[type='date'], 
input[type='password'], 
textarea  {
  border: none;
  border-bottom: 1px solid var(--azul); 
  background-color: transparent;
  font-size: 18px;
  color: var(--cinza);
  padding: 10px 0;
  width: 90%;
}

input[type='file'] {
  display: none; 
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

label[for='file'] {
  background-color: var(--azul);
  padding: 5px;
  margin: 10px;
  width: 80px;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

label[for='file']:hover {
  background-color: white;
  color: var(--azul);
  transition: background-color 0.5s, color 0.5s;
}

.button {
  border: none;
  background-color: var(--azul);
  margin: 10px;
  padding: 10px;
  color: white;
  font-family: 'Inter';
  border-radius: 10px;
  transition: padding 0.1s;
  cursor: pointer;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}


.button:hover {
  background-color: white;
  color: var(--azul);
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.redirect {
  font-size: 14px;
  color: var(--cinza);
}

.redirect button {
  color: var(--azul);
  border: none; 
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
}

.redirect button:hover {
  color: var(--azul-destaque)
}

.error-message {
  color: var(--azul-destaque);
  font-size: 14px;
}