.Nindoo-Widget {
  text-align: center;
  width: 300px;
  height: 0;
  position: absolute; 
  background: white;
  border-radius: 25px 25px 10px 25px;
  bottom: 60px;
  right: 60px;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Nindoo-Widget.active {
  box-shadow: -2px 2px 5px 5px #ddd;
  height: 500px;
}

.Nindoo-floater {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  border: none;
  background-color: white;
  color: var(--primary);
  box-shadow: -2px 2px 5px 5px #ddd;
  transition: all 0.5s ease-in-out;
}

.Nindoo-floater.active {
  background-color: var(--primary);
  color: white;
}


body {
  font-family: 'Inter', sans-serif !important;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
}

#header {
  min-height: 50px;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary);
  background-color: transparent;
  text-align: left;
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

article {
  height: calc(100% - 127px);
  width: 100%;
  margin: 0;
}

#content {
  width: 300px;
  min-height: 300px;
  height: 300px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

:root {
  --cinza-claro: #EAEAF6; 
  --cinza: #9A9ABB; 
  --cinza-escuro: #56557C;
  --primary: rgb(30, 4, 93);
  --secondary: rgb(22, 12, 158);
}


h3 {
  font-size: 34px;
  font-style: normal;
  line-height: 40px;
  font-weight: normal;
  letter-spacing: -0.01em;
  color: var(--primary);
}

h4 {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: var(--primary);
}

h5 {
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.02em; 
  color: var(--secondary);
}


.flex {
  width: 100%;
  display: flex;
}

.input-container p {
  margin: 0; 
  padding: 0;
  color: var(--primary);
  font-size: 12px;
  margin-bottom: 20px;
}

.input-container {
  height: 100px;
  width: 50%;
}

input[type='text'], 
input[type='date'], 
input[type='password'], 
textarea  {
  border: none;
  border-bottom: 1px solid var(--primary); 
  background-color: transparent;
  font-size: 18px;
  color: var(--cinza);
  padding: 10px 0;
  width: 90%;
}

input[type='file'] {
  display: none; 
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

label[for='file'] {
  background-color: var(--primary);
  padding: 5px;
  margin: 10px;
  width: 80px;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

label[for='file']:hover {
  background-color: white;
  color: var(--primary);
  transition: background-color 0.5s, color 0.5s;
}

.button {
  border: none;
  background-color: var(--primary);
  margin: 10px;
  padding: 10px;
  color: white;
  font-family: 'Inter';
  border-radius: 10px;
  transition: padding 0.1s;
  cursor: pointer;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}


.button:hover {
  background-color: white;
  color: var(--primary);
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.redirect {
  font-size: 14px;
  color: var(--cinza);
}

.redirect button {
  color: var(--primary);
  border: none; 
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 14px;
  cursor: pointer;
}

.redirect button:hover {
  color: var(--secondary)
}

.error-message {
  color: var(--secondary);
  font-size: 14px;
}


::-webkit-scrollbar {
  position: absolute;
  background-color: transparent;
  min-width: 7px;
  max-width: 7px;
  transform: translate(20px);
}

::-webkit-scrollbar-track {
  width: 7px;
}

::-webkit-scrollbar-button {
  display: none;
  min-width: 7px;
  max-width: 7px;
}

::-webkit-scrollbar-thumb {
  border: none;
  min-width: 6px;
  max-width: 6px;
  border-radius: 3px;
  background-color: var(--cinza);
}