.logout-button {
    background-color: transparent;
    border: none;
    margin: 10px;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

.logout-button svg {
    width: 20px;
}


.logout-button svg path {
    fill: var(--cinza);
}

.logout-button:hover svg path {
    fill: var(--secondary)
}

.search-container {
    display: flex;
    font-size: 14px;
    width: 100%;
    align-items: center;
    padding: 10px 0;
}

.search-icon  {
    width: 25px;
    height: 25px;
    padding: 0;
    position: absolute;
    right: 20px;
    border: none;
    background-color: transparent;
}

.search-icon svg {
    width: 20px;
    height: 20px;
}

.search-input {
    background: white;
    height: 40px;
    width: calc(100% - 20px);
    margin: auto;
    border-radius: 20px;
    border: none;
    padding: 0 20px;
}

.search-input button svg path {
    fill: var(--cinza);
}
