.logout-button {
    background-color: transparent;
    border: none;
    margin: 10px;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

.logout-button svg {
    width: 20px;
}


.logout-button svg path {
    fill: var(--cinza);
}

.logout-button:hover svg path {
    fill: var(--secondary)
}

.search-container {
    display: flex;
}

.search-icon  {
    width: 30px;
    height: 30px;
}

.search-input button svg {
    width: 20px;
    height: 20px;
}

.search-input button svg path {
    fill: var(--cinza);
}