.space-form {
    width: 100%;
    padding: 0 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.space-form .input-container p {
    margin: 0; 
    padding: 0;
    color: white;;
    font-size: 12px;
    height: auto;
}

.space-form .input-container {
    width: 100%;
    height: auto;
}

.space-form input {
    border: none;
    border-bottom: 1px solid white; 
    background-color: transparent;
    font-size: 18px;
    color: var(--cinza);
    padding: 10px 0;
    width: 100%;
}

.space-form textarea {
    border: none;
    border-bottom: 1px solid white; 
    background-color: transparent;
    font-size: 18px;
    color: var(--cinza);
    width: 100%;
    
}

.space-form button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: var(--primary);
}

.space-form .flex {
    justify-content: space-between !important;
    align-items: center !important;
}

.space-form .flex p {
    font-size: 12px;
    color: white;
    width: 60%;
}