menu {
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid var(--secondary);
    margin: 0;
    text-align: left;
    color: #353535;
    transition: width 0.5s linear 0s, background 0s linear, border 0.2s linear 0s; 
    height: 80px;
    z-index: 20;
}

menu h5 {
    padding: 0 20px;
}

menu.active {
    background: white;
}

.form-group {
    margin-bottom: 0 !important;
}

.menu-select {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: white !important;
    font-weight: bold !important;
    font-size: 20px !important;
    width: 100%;
    border-radius: 0 0 20px 20px;
    overflow-y: auto;
    max-height: 350px;
}

.menu-select .option {
    border: none !important;
    padding: 7px 20px !important;
    font-size: 18px !important;
    margin-bottom: 5px !important;
}

.menu-select .option:hover, 
.menu-select .sub-option:hover {
    background: #eee;
    cursor: pointer;
}

.menu-select .option.active {
    color: var(--pink) !important;
}


.menu-select .sub-option {
    margin-left: 40px !important;
    padding: 10px 20px;
    font-size: 16px !important;
    border-left: 1px solid var(--cinza) !important;
}

.menu-select .sub-option.active {
    color: var(--pink);
    border-left: 2px solid var(--pink) !important;
    margin-left: 30px !important;
    font-size: 20px !important;
}

menu button {
    border: none; 
    background-color: transparent; 
    padding: 0; 
    height: 30px;
    opacity: 1;
    transition-property: opacity; 
    transition-duration: 1s;
    transition-delay: 1s;
    color: var(--primary);
}

menu button.active {
    background-color: white;
    border-right: 5px solid var(--secondary);
    transition: border 0.2s, background 1s;
} 

.user-picture-container img {
    border-radius: 30px;
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0;
    border: 2px solid var(--secondary);
}

menu.expand {
    width: 60vw;
    background: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    transition-property: width 0.5s linear 0s, background 1s linear 0s;
}

menu.expand button {
    opacity: 0;
    transition-property: opacity; 
    transition-duration: 1s;
    transition-delay: 0s;
}
menu .main-button {
    border-radius: 50%;
    background-color: var(--primary);
    height: 40px;
    width: 40px;
    color: white;
}

menu svg {
    width: 20px;
    height: 20px;
}

menu.active > button > h5 {
    color: var(--cinza-escuro);
}